.body-content{
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3em;
}

@media (max-width: 750px)
{
    .body-content {
        padding: 0 5%;
    }
}

