@media (max-width:750px)
{
    nav{
        flex-direction: column;
    }

    .nav-option ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 0; */
        padding-top: 2em;   
    }
    .nav-option li{
        margin: 0;
        padding-bottom: 1em;
    }
}

@media (max-width:750px)
{
    .body-content{
        flex-direction: column;
    }
    .MainBody{
        /* background-color: yellowgreen; */
        width:100%;
    }
    .Aside{
        width: 100%;
    }
    .component{
        flex-direction: column;
    }
    .leftcomponent{
        margin: 0;
    }
    .leftcomponent img {
        width: 100%;
    }
    .RightComponent img{
        width: 100%;
    }
    .aside-about{
        margin-top: 2em;
    }
}
